<div class="gv-elex">
<div class="gv-banner"></div>
<div class="gv-chamber">
    {{#seats}}
    <div class="gv-elex-bar gv-{{party}}" style="width:{{share}}%"></div>
    {{/seats}}
</div>
<div class="gv-halfway-marker"></div>
<div class="gv-halfway-label">50% of seats</div>

<div class="gv-chamber-labels">
    {{#seats}} {{^excluded}}
    <div class="gv-elex-label gv-{{party}}" style="left:{{left}}%">{{party}}</div>

    {{/excluded}} {{/seats}}
</div>

<div class="gv-legend">
    <div class="gv-blobs">
    {{#seats}}
    <div class="gv-legend-entry">
        <div class="gv-party-blob gv-{{party}}"></div>{{party}} {{party_gloss}}</div>
    {{/seats}}
</div>
</div>

</div>
<div class="gv-2013-map"></div>
<div class="gv-fe-tooltip"</div>
</div>