{{#zero}} {{ > zero }} {{/zero}} {{^zero}}

<div class="gv-elex-wrapper">
    <div class="gv-elex">
        <div class="gv-elex-status">
            {{^exitpoll}}
            <h3 class="gv-elex-title">{{#copy}}{{status}}{{/copy}}</h3>
            {{/exitpoll}} {{#exitpoll}}
            <h3 class="gv-elex-title">Exit poll 1800CET</h3>
            {{/exitpoll}}
        </div>
        {{^exitpoll}}
        <div class="gv-elex-declared-count gv-elex-subtitle">{{declared}} of 299 constituencies declared</div>
        {{/exitpoll}}
        <div class="gv-chamber">
            <!--    <div class="gv-banner"></div> -->
            {{#seats}}
            <div class="gv-elex-bar gv-{{partyclass}}" style="width:{{seatspercent}}%">
                {{^excluded}}
                <div class="gv-elex-label gv-{{partyclass}} {{^major}}gv-minor{{/major}}">{{displayname}} {{#major}}{{seatsdisplay}}%{{/major}}</div>
                {{/excluded}}
            </div>
            {{/seats}}
        </div>


        <div class="gv-halfway-marker"></div>
        <div class="gv-halfway-label">50% of seats</div>

        <div class="gv-results-table">
            <div class="gv-results-table-headers">
                <div class="gv-party-blob gv-{{partyclass}} gv-results-table-cell"></div>
                <div class="gv-results-table-cell"></div>
                <div class="gv-results-table-cell gv-party-gloss"></div>
                <div class="gv-results-table-cell gv-table-numbers">% of <br/>votes</div>
                <div class="gv-results-table-cell gv-table-numbers">+/- %</div>
                <div class="gv-results-table-cell gv-table-numbers">% of <br/>seats<sup>*</sup></div>
            </div>
            {{#seats}}
            <div class="gv-results-table-row">
                <div class="gv-party-blob gv-{{partyclass}} gv-results-table-cell"></div>
                <div class="gv-results-table-cell">{{displayname}}</div>
                <div class="gv-results-table-cell gv-party-gloss">{{gloss}}</div>
                <div class="gv-results-table-cell gv-table-numbers">{{votesdisplay}}</div>
                <div class="gv-results-table-cell gv-table-numbers">{{changedisplay}}</div>
                <div class="gv-results-table-cell gv-table-numbers">{{seatsdisplay}}</div>
            </div>
            {{/seats}}
        </div>

        <div class="gv-chamber-gloss gv-gloss">{{#copy}}{{chamber_gloss}}{{/copy}}</div>


        {{ > coalitions }}

    </div>

</div>


<div class="interactive-ad-banner">
    <div class="ad-wrapper--desktop hide-until-tablet">
        <div id="dfp-ad--inline1"
             class="js-ad-slot ad-slot ad-slot--banner-ad ad-slot--banner-ad-desktop"
             data-link-name="ad slot banner"
             data-name="banner"
             data-tablet="1,1|2,2|728,90"
             data-desktop="1,1|2,2|88,70|728,90|940,230|900,250"></div>
    </div>

    <div class="ad-wrapper--mobile mobile-only">
        <div id="dfp-ad--inline1Mobile"
             class="js-ad-slot ad-slot ad-slot--inline ad-slot--inline1"
             data-link-name="ad slot inline1Mobile"
             data-name="inline1Mobile"
             data-mobile="1,1|2,2|300,250|fluid"></div>
    </div>
</div>


<div class="gv-elex-wrapper">

    {{^exitpoll}} {{ > maps }} {{/exitpoll}}

</div>




</div>

<div class="gv-source gv-gloss">Source: {{#exitpoll}}{{#copy}}{{exitpollsource}}{{/copy}}{{/exitpoll}}{{^exitpoll}}German Federal Returning Officer{{/exitpoll}}</div>
</div>


{{/zero}}

<div class="gv-shocking-practice"></div>

<div class="gv-fe-tooltip"></div>