<div class="gv-elex-map">
    <div class="gv-elex-map-header">
        <h3 class="gv-elex-title">Constituency seats won by party</h3>
    </div>
    <div class="gv-elex-legend-blobs gv-constituency">
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-4">&nbsp;</div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-3">&nbsp;</div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-2">&nbsp;</div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-1">&nbsp;</div>
    </div>
    <div class="gv-elex-legend-labels">
        <div>&nbsp;</div>
        <div>&nbsp; </div>
        <div>&nbsp; </div>
        <div>&nbsp; </div>
    </div>
    <div class="gv-elex-map-graphic gv-constituency"></div>
    <div class="gv-elex-map-gloss gv-constituency">
        <p>{{#copy}}{{constituency_map}}{{/copy}}</p>
    </div>

</div>

<div class="gv-elex-map">
    <div class="gv-elex-map-header">
        <h3 class="gv-elex-title">SPD share of vote</h3>
    </div>
    <div class="gv-elex-legend-blobs gv-spd-share">
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-4"></div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-3"></div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-2"></div>
        <div class="gv-elex-legend-blob gv-spd-share gv-spd-band-1"></div>
    </div>
    <div class="gv-elex-legend-labels">
        <div>40%+</div>
        <div>30+</div>
        <div>20+</div>
        <div>
            &lt; 20</div>
    </div>

    <div class="gv-elex-map-graphic gv-spd-share"></div>
    <div class="gv-elex-map-gloss gv-spd-share">
        <p>{{#copy}}{{spd_share_map}}{{/copy}}
            <p>
    </div>

</div>


<div class="gv-elex-map">
    <div class="gv-elex-map-header">
        <h3 class="gv-elex-title">AfD share of vote</h3>
    </div>
    <div class="gv-elex-legend-blobs gv-afd-share">
        <div class="gv-elex-legend-blob gv-afd-share gv-afd-band-4"></div>
        <div class="gv-elex-legend-blob gv-afd-share gv-afd-band-3"></div>
        <div class="gv-elex-legend-blob gv-afd-share gv-afd-band-2"></div>
        <div class="gv-elex-legend-blob gv-afd-share gv-afd-band-1"></div>
    </div>
    <div class="gv-elex-legend-labels">
        <div>20%+</div>
        <div>10+</div>
        <div>5+</div>
        <div>
            &lt; 5</div>
    </div>

    <div class="gv-elex-map-graphic gv-afd-share"></div>
    <div class="gv-elex-map-gloss gv-afd-share">
        <p>{{#copy}}{{afd_share_map}}{{/copy}}
            <p>
    </div>

</div>

<div class="gv-elex-map">
    <div class="gv-elex-map-header">
        <h3 class="gv-elex-title">CDU/CSU share of vote</h3>
    </div>
    <div class="gv-elex-legend-blobs gv-cdu-share">
        <div class="gv-elex-legend-blob gv-cdu-share gv-cdu-band-4"></div>
        <div class="gv-elex-legend-blob gv-cdu-share gv-cdu-band-3"></div>
        <div class="gv-elex-legend-blob gv-cdu-share gv-cdu-band-2"></div>
        <div class="gv-elex-legend-blob gv-cdu-share gv-cdu-band-1"></div>
    </div>
    <div class="gv-elex-legend-labels">
        <div>60%+</div>
        <div>50+</div>
        <div>40+</div>
        <div>
            &lt; 40</div>
    </div>

    <div class="gv-elex-map-graphic gv-cdu-share"></div>
    <div class="gv-elex-map-gloss gv-cdu-share">
        <p>{{#copy}}{{cdu_share_map}}{{/copy}}
            <p>
    </div>

</div>
