@import "mq";
@import "fonts";

$cdu : black;
$csu : #333;
$spd : red;
$linke: pink;
$green : green;
$afd : lightblue;
$fpd: yellow;


// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.gv-chamber {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.gv-chamber-graph {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.gv-elex-label {
    position: absolute;
    color: white;
    padding-left: 2px;
}

.gv-chamber-labels {
    width: 100%;
    margin-bottom: 100px;
}


.gv-elex-bar {
    height: 50px;
    display: inline-block;
    float:left;
    margin: 0 !important;
    &.gv-CDU {background-color: $cdu;}
    &.gv-CSU {background-color: $csu;}
    &.gv-SPD {background-color: $spd;}
    &.gv-Linke {background-color: $linke;}
    &.gv-Grüne {background-color: $green;}
    box-sizing: border-box;
}

.gv-elex-labels {
    margin-top: 60px;
}

svg {
    width: 100%;
}

path {
    fill: lightgrey;
    &.gv-const-winner-CDU { fill: $cdu}
    &.gv-const-winner-CSU { fill: $csu}
    &.gv-const-winner-SPD { fill: $spd}
    &.gv-const-winner-DIE_LINKE { fill: $linke}
    &.gv-const-winner-GRÜNE { fill: $green}
}